- name: Create user with sudo access
  user:
    name: "{{ secrets.user.name }}"
    password: "{{ secrets.user.password | string | password_hash('sha512') }}"
    shell: /bin/bash
    createhome: yes
    groups: sudo
    append: yes  # Ensures we don't remove user from other groups if they exist

- name: Create authorized_key for user
  ansible.posix.authorized_key:
    user: "{{ secrets.user.name }}"
    state: present
    key: "{{ secrets.user.authorized_key }}"
    exclusive: true

- name: Allow user to run sudo without a password
  copy:
    dest: "/etc/sudoers.d/{{ secrets.user.name }}"
    content: "{{ secrets.user.name }} ALL=(ALL) NOPASSWD: ALL"
    owner: root
    group: root
    mode: '0440'
    validate: 'visudo -cf %s'