name: immich

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      # Maps the host path defined in .env to the internal container path
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    environment:
      - NODE_OPTIONS=--dns-result-order=ipv4first
    ports:
      # Standard Immich port
      - '2283:2283'
    depends_on:
      - redis
      - database
    extra_hosts:
    # CRITICAL: Add authentik host for integration
      - "auth.zen132.cz:host-gateway"
    restart: always
    # CRITICAL: Add to the shared proxy network so Caddy can find it
    networks:
      - default
      - proxy

  immich-machine-learning:
    container_name: immich_machine_learning
    # Standard CPU-based machine learning image
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - model-cache:/cache
    env_file:
      - .env
    restart: always
    networks:
      - default

  redis:
    container_name: immich_redis
    # Official recommendation is now Valkey (a fork of Redis)
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    networks:
      - default

  database:
    container_name: immich_postgres
    # Official image with pgvectors extension required for AI
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      # Maps host path from .env
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always
    networks:
      - default

volumes:
  model-cache:

# Define the external proxy network
networks:
  proxy:
    external: true