# You can find documentation for all the supported env variables at https://docs.immich.app/install/environment-variables

# The location where your uploaded files are stored
# Ansible will inject the absolute path here (/srv/immich/library)
UPLOAD_LOCATION={{ upload_location }}

# The location where your database files are stored.
# Ansible will inject the absolute path here (/srv/immich/postgres)
DB_DATA_LOCATION={{ db_path }}

# To set a timezone
TZ=Europe/Prague

# The Immich version to use. "release" is the standard for stable updates.
IMMICH_VERSION=release

# Connection secret for postgres.
DB_PASSWORD={{ secrets.immich_db_password }}

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich