version: '3.8'

services:
  db:
    image: mariadb:10.11
    container_name: seafile-mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ secrets.seafile_mysql_root_password }}
      - MYSQL_LOG_CONSOLE=true
      - MYSQL_DATABASE=seafile_db
      - MYSQL_USER=seafile
      - MYSQL_PASSWORD={{ secrets.seafile_db_password }}
    volumes:
      - "{{ db_path }}:/var/lib/mysql"
    networks:
      - seafile_net
    restart: unless-stopped

  memcached:
    image: memcached:1.6.18
    container_name: seafile-memcached
    entrypoint: memcached -m 256
    networks:
      - seafile_net
    restart: unless-stopped

  seafile:
    image: seafileltd/seafile-mc:latest
    container_name: seafile
    volumes:
      - "{{ app_data_path }}:/shared"
    environment:
      - DB_HOST=db
      - DB_ROOT_PASSWD={{ secrets.seafile_mysql_root_password }}
      # The specific user password is not strictly used by the container setup script 
      # (it uses root to create DBs), but good to have for reference.
      - TIME_ZONE=Europe/Prague
      - SEAFILE_ADMIN_EMAIL={{ secrets.seafile_admin_email }}
      - SEAFILE_ADMIN_PASSWORD={{ secrets.seafile_admin_password }}
      - SEAFILE_SERVER_LETSENCRYPT=false
      - SITE_ROOT=https://drive.{{ domain }}
    depends_on:
      - db
      - memcached
    networks:
      - seafile_net
      - proxy
    restart: unless-stopped

networks:
  seafile_net:
  proxy:
    external: true