# This is a private Caddyfile for internal services


https://home.{{ domain }} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    # Homepage runs on port 3000 inside its container
    reverse_proxy homepage:3000
}

https://pdf.{{ domain }} {
    # Use the Cloudflare DNS plugin to get a certificate
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy stirling-pdf:8080
}

https://adguardhome.{{ domain }} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    # The reverse_proxy directive
    reverse_proxy adguard-home:3000
}

https://journiv.{{ domain }} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy journiv-postgres-app:8000
}

https://dockhand.{{ domain }} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy 192.168.66.167:3000
}

https://nomad.{{ domain }} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy nomad_admin:8080
}

https://nomadkb.{{ domain }} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy 192.168.66.166:8090
}

https://nomadep.{{ domain }} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy 192.168.66.166:8310
}
