---
- name: Install Docker prerequisites
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
    state: present
    #update_cache: true

- name: Create directory for apt keyrings
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Docker GPG key
  ansible.builtin.shell: 
    cmd: curl -fsSL https://download.docker.com/linux/debian/gpg -o /etc/apt/keyrings/docker.asc
    # curl doesn't set permissions automatically, so we ensure them here
  args:
    warn: false # Suppress warning about using curl vs get_url

- name: Ensure GPG key permissions
  ansible.builtin.file:
    path: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Add Docker Repository
  ansible.builtin.apt_repository:
    # Hardcoding 'bookworm' ensures compatibility with Debian Trixie
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian bookworm stable"
    filename: docker
    state: present

- name: Install Docker Engine and plugins
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
    update_cache: true

- name: Install Python SDK for Docker (Required for Ansible modules)
  ansible.builtin.apt:
    name:
      - python3-pip
      - python3-docker
      - python3-requests
    state: present

- name: Ensure Docker config directory exists
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    mode: '0755'

- name: Configure Docker daemon (Disable IPv6 & Set MTU)
  ansible.builtin.copy:
    dest: /etc/docker/daemon.json
    content: |
      {
        "ipv6": true,
        "mtu": 1280
      }
    mode: '0644'
  notify: Restart Docker Service

- name: Start and enable Docker service
  ansible.builtin.service:
    name: docker
    enabled: true
    state: started

- name: Create shared 'proxy' network
  community.docker.docker_network:
    name: proxy
    state: present

- name: Add manager user to the 'docker' group for sudo-less access
  ansible.builtin.user:
    name: "{{ secrets.user.name }}"
    groups: docker
    append: yes