    
---
- name: Install Repo manager dependencies
  ansible.builtin.package:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
    state: present
    update_cache: true

- name: Create directory for apt keyrings
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
    force: true

- name: Add Docker Repository
  ansible.builtin.apt_repository:
    # We explicitly use [signed-by=...] for security
    # We also force 'bookworm' because Docker often lags behind Debian 'trixie' 
    # regarding official repo naming, even if the packages work fine.
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian bookworm stable"
    filename: docker
    state: present