services:
  borgmatic:
    image: b3vis/borgmatic:latest
    container_name: borgmatic
    environment:
      - TZ=Europe/Prague
      - DOCKERCLI=true  # This allows borgmatic to use the Docker CLI to dump databases
    volumes:
      # 1. Mount the data you want to back up
      - /srv:/srv
      # 2. Mount the config, ssh keys, and cache
      - /srv/borgmatic/config:/etc/borgmatic.d
      - /srv/borgmatic/ssh:/root/.ssh
      - /srv/borgmatic/cache:/root/.cache/borg
      # 3. Mount the Docker Socket! (This allows borgmatic to dump your databases)
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/backup_tank:/mnt/backup_tank
    restart: unless-stopped